<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="FileDataModelContainer" connectionString="metadata=res://*/FileDataModel.csdl|res://*/FileDataModel.ssdl|res://*/FileDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=179.0.210.186;initial catalog=ARTRuleMunicipalityCR;user id=sa;password=Ntscr!12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ExceptionHandlerDataModelContainer" connectionString="metadata=res://*/ExceptionHandlerDataModel.csdl|res://*/ExceptionHandlerDataModel.ssdl|res://*/ExceptionHandlerDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=179.0.210.186;initial catalog=ARTRuleMunicipalityCR;user id=sa;password=Ntscr!12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AccountDataModelContainer" connectionString="metadata=res://*/AccountDataModel.csdl|res://*/AccountDataModel.ssdl|res://*/AccountDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=179.0.210.186;initial catalog=ARTRuleMunicipalityCR;user id=sa;password=Ntscr!12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CompanyDataModelContainer" connectionString="metadata=res://*/CompanyDataModel.csdl|res://*/CompanyDataModel.ssdl|res://*/CompanyDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=179.0.210.186;initial catalog=ARTRuleMunicipalityCR;user id=sa;password=Ntscr!12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ServiceDataModelContainer" connectionString="metadata=res://*/ServiceDataModel.csdl|res://*/ServiceDataModel.ssdl|res://*/ServiceDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=179.0.210.186;initial catalog=ARTRuleMunicipalityCR;user id=sa;password=Ntscr!12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CaseDataModelContainer" connectionString="metadata=res://*/CaseDataModel.csdl|res://*/CaseDataModel.ssdl|res://*/CaseDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=179.0.210.186nitial catalog=ARTRuleMunicipalityCR;user id=sa;password=Ntscr!12345;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ReportDataModelContainer" connectionString="metadata=res://*/ReportDataModel.csdl|res://*/ReportDataModel.ssdl|res://*/ReportDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.100;initial catalog=MunicipalityManagement1000;persist security info=True;user id=sa;password=pass#123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AccountUserDataModelContainer" connectionString="metadata=res://*/AccountUserDataModel.csdl|res://*/AccountUserDataModel.ssdl|res://*/AccountUserDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=179.0.210.186;initial catalog=ARTRuleMunicipalityCR;user id=sa;password=Ntscr!12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CollectionDataModelContainer" connectionString="metadata=res://*/CollectionDataModel.csdl|res://*/CollectionDataModel.ssdl|res://*/CollectionDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=179.0.210.186;initial catalog=ARTRuleMunicipalityCR;user id=sa;password=Ntscr!12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WorkflowDataModelContainer" connectionString="metadata=res://*/WorkflowDataModel.csdl|res://*/WorkflowDataModel.ssdl|res://*/WorkflowDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=179.0.210.186;initial catalog=ARTRuleMunicipalityCR;user id=sa;password=Ntscr!12345;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MigrationDataModelContainer" connectionString="metadata=res://*/MigrationDataModel.csdl|res://*/MigrationDataModel.ssdl|res://*/MigrationDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=179.0.210.186;initial catalog=ARTRuleMunicipalityCR;user id=sa;password=Ntscr!12345;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="FileDataModelContainer" connectionString="metadata=res://*/FileDataModel.csdl|res://*/FileDataModel.ssdl|res://*/FileDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.100;initial catalog=MunicipalityManagement1000;user id=sa;password=pass#123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ExceptionHandlerDataModelContainer" connectionString="metadata=res://*/ExceptionHandlerDataModel.csdl|res://*/ExceptionHandlerDataModel.ssdl|res://*/ExceptionHandlerDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.100;initial catalog=MunicipalityManagement1000;user id=sa;password=pass#123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AccountDataModelContainer" connectionString="metadata=res://*/AccountDataModel.csdl|res://*/AccountDataModel.ssdl|res://*/AccountDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.100;initial catalog=MunicipalityManagement1000;user id=sa;password=pass#123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CompanyDataModelContainer" connectionString="metadata=res://*/CompanyDataModel.csdl|res://*/CompanyDataModel.ssdl|res://*/CompanyDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.100;initial catalog=MunicipalityManagement1000;user id=sa;password=pass#123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ServiceDataModelContainer" connectionString="metadata=res://*/ServiceDataModel.csdl|res://*/ServiceDataModel.ssdl|res://*/ServiceDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.100;initial catalog=MunicipalityManagement1000;user id=sa;password=pass#123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CaseDataModelContainer" connectionString="metadata=res://*/CaseDataModel.csdl|res://*/CaseDataModel.ssdl|res://*/CaseDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.100;initial catalog=MunicipalityManagement1000;user id=sa;password=pass#123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ReportDataModelContainer" connectionString="metadata=res://*/ReportDataModel.csdl|res://*/ReportDataModel.ssdl|res://*/ReportDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.100;initial catalog=MunicipalityManagement1000;user id=sa;password=pass#123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AccountUserDataModelContainer" connectionString="metadata=res://*/AccountUserDataModel.csdl|res://*/AccountUserDataModel.ssdl|res://*/AccountUserDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.100;initial catalog=MunicipalityManagement1000;user id=sa;password=pass#123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CollectionDataModelContainer" connectionString="metadata=res://*/CollectionDataModel.csdl|res://*/CollectionDataModel.ssdl|res://*/CollectionDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.100;initial catalog=MunicipalityManagement1000;user id=sa;password=pass#123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WorkflowDataModelContainer" connectionString="metadata=res://*/WorkflowDataModel.csdl|res://*/WorkflowDataModel.ssdl|res://*/WorkflowDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.100;initial catalog=MunicipalityManagement1000;user id=sa;password=pass#123;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MigrationDataModelContainer" connectionString="metadata=res://*/MigrationDataModel.csdl|res://*/MigrationDataModel.ssdl|res://*/MigrationDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.100;initial catalog=MunicipalityManagement1000;user id=sa;password=pass#123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>