
@using LocalResource = ArtSolutions.MUN.Web.Resources.Report


<table class="table table-report table-tbody-total" id="tblDepositSummeryList">
    <tfoot id="tblFooter" class="hide">
        <tr>
            <th colspan="7" class="text-right"> @LocalResource.NetDepositTotal.ToUpper() : </th>
            <th></th>
        </tr>
    </tfoot>
</table>