@using LocalResource = ArtSolutions.MUN.Web.Resources.Report

<table class="table table-report table-tbody-total" id="tblDepositSummeryByPaymentPlanList">
    <tfoot id="tblFooter">
        <tr>
            <td colspan="7" class="text-right"> @LocalResource.NetDepositTotal.ToUpper() : </td>
            <td></td>
        </tr>
    </tfoot>
</table>