<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Flores_QA</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://179.0.210.186/municipality_api</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://179.0.210.186:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site\municipality_api</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>WIN-I1NNVR70CCI\WDeployAdmin</UserName>
	<_SavePWD>True</_SavePWD>
	<PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AccountDataModelContainer" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ArtSolutions.MUN.Core.AccountDataModelContainer, ArtSolutions.MUN.Core" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AccountUserDataModelContainer" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ArtSolutions.MUN.Core.AccountUserDataModelContainer, ArtSolutions.MUN.Core" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CaseDataModelContainer" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ArtSolutions.MUN.Core.CaseDataModelContainer, ArtSolutions.MUN.Core" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CollectionDataModelContainer" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ArtSolutions.MUN.Core.CollectionDataModelContainer, ArtSolutions.MUN.Core" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CompanyDataModelContainer" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ArtSolutions.MUN.Core.CompanyDataModelContainer, ArtSolutions.MUN.Core" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ExceptionHandlerDataModelContainer" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ArtSolutions.MUN.Core.ExceptionHandlerDataModelContainer, ArtSolutions.MUN.Core" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="FileDataModelContainer" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ArtSolutions.MUN.Core.FileDataModelContainer, ArtSolutions.MUN.Core" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ReportDataModelContainer" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ArtSolutions.MUN.Core.ReportDataModelContainer, ArtSolutions.MUN.Core" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ServiceDataModelContainer" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ArtSolutions.MUN.Core.ServiceDataModelContainer, ArtSolutions.MUN.Core" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="WorkflowDataModelContainer" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ArtSolutions.MUN.Core.WorkflowDataModelContainer, ArtSolutions.MUN.Core" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MigrationDataModelContainer" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.1.100\ARTSOLUTION;Initial Catalog=MunicipalityManagement1000;User ID=sa;Password=pass#123;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MigrationDataModelContainer_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/MigrationDataModel.csdl|res://*/MigrationDataModel.ssdl|res://*/MigrationDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.100\ARTSOLUTION;initial catalog=MunicipalityManagement1000;user id=sa;password=pass#123;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MigrationDataModelContainer-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="WorkflowDataModelContainer-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ServiceDataModelContainer-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ReportDataModelContainer-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="FileDataModelContainer-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ExceptionHandlerDataModelContainer-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CompanyDataModelContainer-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CollectionDataModelContainer-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CaseDataModelContainer-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AccountUserDataModelContainer-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AccountDataModelContainer-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>