<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Rule_QA</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://rulewebappeast.azurewebsites.net/qa/api/municipality</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>rulewebappeast.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RuleWebAppEast\qa\api\municipality</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RuleWebAppEast</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AccountDataModelContainer" Order="1" Enabled="False">
          <Destination Path="Data Source=192.168.1.100\ArtSolution;Initial Catalog=MunicipalityManagement1000;User ID=sa;Password=pass#123;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ArtSolutions.MUN.Core.AccountDataModelContainer, ArtSolutions.MUN.Core" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AccountUserDataModelContainer" Order="2" Enabled="False">
          <Destination Path="Data Source=192.168.1.100\ArtSolution;Initial Catalog=MunicipalityManagement1000;User ID=sa;Password=pass#123;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ArtSolutions.MUN.Core.AccountUserDataModelContainer, ArtSolutions.MUN.Core" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CaseDataModelContainer" Order="3" Enabled="False">
          <Destination Path="Data Source=192.168.1.100\ArtSolution;Initial Catalog=MunicipalityManagement1000;User ID=sa;Password=pass#123;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ArtSolutions.MUN.Core.CaseDataModelContainer, ArtSolutions.MUN.Core" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CollectionDataModelContainer" Order="4" Enabled="False">
          <Destination Path="Data Source=192.168.1.100\ArtSolution;Initial Catalog=MunicipalityManagement1000;User ID=sa;Password=pass#123;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ArtSolutions.MUN.Core.CollectionDataModelContainer, ArtSolutions.MUN.Core" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CompanyDataModelContainer" Order="5" Enabled="False">
          <Destination Path="Data Source=192.168.1.100\ArtSolution;Initial Catalog=MunicipalityManagement1000;User ID=sa;Password=pass#123;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ArtSolutions.MUN.Core.CompanyDataModelContainer, ArtSolutions.MUN.Core" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ExceptionHandlerDataModelContainer" Order="6" Enabled="False">
          <Destination Path="Data Source=192.168.1.100\ArtSolution;Initial Catalog=MunicipalityManagement1000;User ID=sa;Password=pass#123;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ArtSolutions.MUN.Core.ExceptionHandlerDataModelContainer, ArtSolutions.MUN.Core" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="FileDataModelContainer" Order="7" Enabled="False">
          <Destination Path="Data Source=192.168.1.100\ArtSolution;Initial Catalog=MunicipalityManagement1000;User ID=sa;Password=pass#123;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ArtSolutions.MUN.Core.FileDataModelContainer, ArtSolutions.MUN.Core" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ReportDataModelContainer" Order="8" Enabled="False">
          <Destination Path="Data Source=192.168.1.100\ArtSolution;Initial Catalog=MunicipalityManagement1000;User ID=sa;Password=pass#123;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ArtSolutions.MUN.Core.ReportDataModelContainer, ArtSolutions.MUN.Core" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ServiceDataModelContainer" Order="9" Enabled="False">
          <Destination Path="Data Source=192.168.1.100\ArtSolution;Initial Catalog=MunicipalityManagement1000;User ID=sa;Password=pass#123;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ArtSolutions.MUN.Core.ServiceDataModelContainer, ArtSolutions.MUN.Core" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="WorkflowDataModelContainer" Order="10" Enabled="False">
          <Destination Path="Data Source=192.168.1.100\ArtSolution;Initial Catalog=MunicipalityManagement1000;User ID=sa;Password=pass#123;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ArtSolutions.MUN.Core.WorkflowDataModelContainer, ArtSolutions.MUN.Core" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="WorkflowDataModelContainer-Web.config Connection String">
      <ParameterValue>metadata=res://*/WorkflowDataModel.csdl|res://*/WorkflowDataModel.ssdl|res://*/WorkflowDataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=192.168.1.100\ArtSolution;Initial Catalog=MunicipalityManagement1000;User ID=sa;Password=pass#123;Application Name=EntityFramework"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ServiceDataModelContainer-Web.config Connection String">
      <ParameterValue>metadata=res://*/ServiceDataModel.csdl|res://*/ServiceDataModel.ssdl|res://*/ServiceDataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=192.168.1.100\ArtSolution;Initial Catalog=MunicipalityManagement1000;User ID=sa;Password=pass#123;Application Name=EntityFramework"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ReportDataModelContainer-Web.config Connection String">
      <ParameterValue>metadata=res://*/ReportDataModel.csdl|res://*/ReportDataModel.ssdl|res://*/ReportDataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=192.168.1.100\ArtSolution;Initial Catalog=MunicipalityManagement1000;User ID=sa;Password=pass#123;Application Name=EntityFramework"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="FileDataModelContainer-Web.config Connection String">
      <ParameterValue>metadata=res://*/FileDataModel.csdl|res://*/FileDataModel.ssdl|res://*/FileDataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=192.168.1.100\ArtSolution;Initial Catalog=MunicipalityManagement1000;User ID=sa;Password=pass#123;Application Name=EntityFramework"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ExceptionHandlerDataModelContainer-Web.config Connection String">
      <ParameterValue>metadata=res://*/ExceptionHandlerDataModel.csdl|res://*/ExceptionHandlerDataModel.ssdl|res://*/ExceptionHandlerDataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=192.168.1.100\ArtSolution;Initial Catalog=MunicipalityManagement1000;User ID=sa;Password=pass#123;Application Name=EntityFramework"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CompanyDataModelContainer-Web.config Connection String">
      <ParameterValue>metadata=res://*/CompanyDataModel.csdl|res://*/CompanyDataModel.ssdl|res://*/CompanyDataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=192.168.1.100\ArtSolution;Initial Catalog=MunicipalityManagement1000;User ID=sa;Password=pass#123;Application Name=EntityFramework"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CollectionDataModelContainer-Web.config Connection String">
      <ParameterValue>metadata=res://*/CollectionDataModel.csdl|res://*/CollectionDataModel.ssdl|res://*/CollectionDataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=192.168.1.100\ArtSolution;Initial Catalog=MunicipalityManagement1000;User ID=sa;Password=pass#123;Application Name=EntityFramework"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="CaseDataModelContainer-Web.config Connection String">
      <ParameterValue>metadata=res://*/CaseDataModel.csdl|res://*/CaseDataModel.ssdl|res://*/CaseDataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=192.168.1.100\ArtSolution;Initial Catalog=MunicipalityManagement1000;User ID=sa;Password=pass#123;Application Name=EntityFramework"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AccountUserDataModelContainer-Web.config Connection String">
      <ParameterValue>metadata=res://*/AccountUserDataModel.csdl|res://*/AccountUserDataModel.ssdl|res://*/AccountUserDataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=192.168.1.100\ArtSolution;Initial Catalog=MunicipalityManagement1000;User ID=sa;Password=pass#123;Application Name=EntityFramework"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AccountDataModelContainer-Web.config Connection String">
      <ParameterValue>metadata=res://*/AccountDataModel.csdl|res://*/AccountDataModel.ssdl|res://*/AccountDataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=192.168.1.100\ArtSolution;Initial Catalog=MunicipalityManagement1000;User ID=sa;Password=pass#123;Application Name=EntityFramework"</ParameterValue>
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>