@using GlobalResource = ArtSolutions.MUN.Web.Resources.Report

<table class="table table-report table-tbody-total" id="tblClosingSummeryByPaymentTypeList">
    <tfoot id="tblFooter" class="hide">
        <tr>
            <td colspan="6" class="text-right" align="right"> @GlobalResource.NetClosingTotal.ToUpper() : </td>
            <td align="right"></td>
        </tr>
    </tfoot>
</table>