@using LocalResource = ArtSolutions.MUN.Web.Resources.Report
@using GlobalResource = ArtSolutions.MUN.Web.Resources.Global

<table class="table table-report table-tbody-total" id="tblClosingSummeryList">
    <tfoot id="tblFooter" class="hide">
        <tr>
            <th colspan="6" class="text-right" align="right"> @LocalResource.NetClosingTotal.ToUpper() : </th>
            <th align="right"></th>
        </tr>
    </tfoot>
</table>