@using GlobalResource = ArtSolutions.MUN.Web.Resources.Global
<button type="button" class="btn-success btn-sm m-r-xs" data-type="0" itag="btnExcel">@GlobalResource.Excel</button>
<button type="button" class="btn-success btn-sm m-r-xs" data-type="1" itag="btnPDF">@GlobalResource.PDF</button>
<button type="button" class="btn-info btn-sm" data-type="2" itag="btnPrint">@GlobalResource.Print</button>

