@model ArtSolutions.MUN.Web.Areas.Collections.Models.PropertyTransferModel
@using ArtSolutions.MUN.Web.Areas.Cases.Models
@using LocalResource = ArtSolutions.MUN.Web.Resources.Transfer
@using GlobalResource = ArtSolutions.MUN.Web.Resources.Global
@using ServiceResource = ArtSolutions.MUN.Web.Resources.AccountService
@using AccountPropertyResource = ArtSolutions.MUN.Web.Resources.AccountProperty
@{
    ViewBag.Title = LocalResource.ViewServicTransfer;
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
}
@*First Copy for Customer*@
<br />
<div class="wrapper wrapper-content p-xl">
    <div class="ibox-content p-xl">
        @Html.Raw(Model.PrintTemplate.TemplateContent)
    </div>
</div>


<script type="text/javascript">
    window.print();
</script>
<style>
    .break {
        page-break-before: always;
    }
</style>