<div class="footer row">
    <div class="col-md-8">
        <strong>Copyright</strong> MATI Application Solutions, LLC &copy; @DateTime.Now.Year
    </div>
    <div class="col-md-4 text-right">
        <a href='@Url.Content("~/Report/ExceptionReport")'>
            <i style="color:orange" class="fa fa-exclamation-circle"></i>
        </a>
    </div>
</div>

