<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="FileDataModelContainer"
        connectionString="metadata=res://*/FileDataModel.csdl|res://*/FileDataModel.ssdl|res://*/FileDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.100\ARTSOLUTION;initial catalog=ARTRuleMunicipalityCR;user id=sa;password=pass#123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="ExceptionHandlerDataModelContainer"
      connectionString="metadata=res://*/ExceptionHandlerDataModel.csdl|res://*/ExceptionHandlerDataModel.ssdl|res://*/ExceptionHandlerDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.100\ARTSOLUTION;initial catalog=ARTRuleMunicipalityCR;user id=sa;password=pass#123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="AccountDataModelContainer"
        connectionString="metadata=res://*/AccountDataModel.csdl|res://*/AccountDataModel.ssdl|res://*/AccountDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.100\ARTSOLUTION;initial catalog=ARTRuleMunicipalityCR;user id=sa;password=pass#123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="CompanyDataModelContainer"
      connectionString="metadata=res://*/CompanyDataModel.csdl|res://*/CompanyDataModel.ssdl|res://*/CompanyDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.100\ARTSOLUTION;initial catalog=ARTRuleMunicipalityCR;user id=sa;password=pass#123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="ServiceDataModelContainer"
      connectionString="metadata=res://*/ServiceDataModel.csdl|res://*/ServiceDataModel.ssdl|res://*/ServiceDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.100\ARTSOLUTION;initial catalog=ARTRuleMunicipalityCR;user id=sa;password=pass#123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    
    <add name="CaseDataModelContainer"
      connectionString="metadata=res://*/CaseDataModel.csdl|res://*/CaseDataModel.ssdl|res://*/CaseDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.100\ARTSOLUTION;initial catalog=ARTRuleMunicipalityCR;user id=sa;password=pass#123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="ReportDataModelContainer"
      connectionString="metadata=res://*/ReportDataModel.csdl|res://*/ReportDataModel.ssdl|res://*/ReportDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.100\ARTSOLUTION;initial catalog=ARTRuleMunicipalityCR;user id=sa;password=pass#123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="AccountUserDataModelContainer"
      connectionString="metadata=res://*/AccountUserDataModel.csdl|res://*/AccountUserDataModel.ssdl|res://*/AccountUserDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.100\ARTSOLUTION;initial catalog=ARTRuleMunicipalityCR;user id=sa;password=pass#123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="CollectionDataModelContainer"
      connectionString="metadata=res://*/CollectionDataModel.csdl|res://*/CollectionDataModel.ssdl|res://*/CollectionDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.100\ARTSOLUTION;initial catalog=ARTRuleMunicipalityCR;user id=sa;password=pass#123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="WorkflowDataModelContainer"
      connectionString="metadata=res://*/WorkflowDataModel.csdl|res://*/WorkflowDataModel.ssdl|res://*/WorkflowDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.100\ARTSOLUTION;initial catalog=ARTRuleMunicipalityCR;user id=sa;password=pass#123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>  
  <appSettings>
    <add key="SecurityAPIPath" value="http://192.168.1.100:9000/securityapi/"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="FinanceAPIPath" value="http://192.168.1.100:9000/financeapi/"
        xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="URLMunicipalityWebSitePath" value="http://179.0.210.186/municipality/"
        xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>    
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>