<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="URLServicePath" value="http://192.168.1.100:9000/municipalityapi/"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="URLSecurityServicePath" value="http://192.168.1.100:9000/securityapi/"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SecurityWebPath" value="http://192.168.1.100:9000/security/"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SecurityCookieName" value="192.168.1.100"
        xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="BotId" value="CustomerServiceBOT_TEST"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BotSecretKey" value="80f9cKxd7Ps.cwA.9Gs.AddPhMY01ZesolkLq6Hl0GPnPr368JKTHjTckUY7flo"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>

    <add key="URLCustomerServicePath" value="http://192.168.1.100:9000/services/"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="URLCustomerWebSitePath" value="http://192.168.1.100:9000/services/"
         xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <machineKey xdt:Transform="Insert" decryptionKey="04092CE559DF383160D1AAEDB34BECA9604178EBB2237D01" validationKey="E3E5F20ED43CB5509ECE4874E22AF6AF1E7651A20E757855AC3F22EA79B301ED7F0AA5B7E860FDD01FFBF195039F8A7347642CFFCE08F3FA1219BC322C7120A8" />
  </system.web>
</configuration>