<div class="table-responsive">
    <table class="table table-stripped" id="tblStatuses"></table>
</div>

<div class="table-responsive">
    <table class="table table-stripped" id="tblStatuses"></table>
</div>


